@model IEnumerable<Rebbit.Models.Postz>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REBBIT</h1>
</div>

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div>@Html.ActionLink("Create New", "Create", "Postzs")</div>
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left">
                        <img class="media-object" src="@item.ImageUrl" alt="Alternate Text" style="width: 60px" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@item.Title</h4>
                    <p>@item.Description</p>
                </div>
            </div>
        </div>
    </div>
}